<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Email é obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Senha é obrigatória
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>

  <div class="links">
   <a routerLink="/register" class="register-link">Ainda não sou cadastrado</a>
    <a routerLink="/forgot-password">Esqueci minha senha</a>
  </div>
</div>
